################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Fvsm.Application.UI/obj
/Fvsm.Application.UI/bin/Debug
/Fvsm.Core/obj
/Fvsm.Core/bin/Debug
/Release
/Debug
